@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #ffffff;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-neonCyan to-neonPurple;
}